
.title-add{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
}

.title-add span{
  color: #FFFFFF;
  font-size: 18px;
}

.title-add button{
  background-color: #34CCC6;
}

.emp-detials-tables{
  width: 100%;
}

.mat-header-row {
  min-height: 45px;
}

.email-ellipses{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


