<mat-grid-list class="gridlist" cols="100" rows='100' rowHeight="fit">
	<mat-grid-tile colspan=100 rowspan=10>
		<mat-card>
			
		</mat-card>
	</mat-grid-tile>

	<mat-grid-tile colspan=15 rowspan=90 [style.background]="color1">
	<mat-card>
		hooo
    		</mat-card>
	</mat-grid-tile>


	<mat-grid-tile colspan=85 rowspan=15 >
		<app-empcount  class="empcount"></app-empcount>
    
	
	</mat-grid-tile>


	<mat-grid-tile colspan=85 rowspan=75>
	
    	<mat-card class="emp-details">
		<app-empdetails></app-empdetails>
    		</mat-card>
	</mat-grid-tile>

</mat-grid-list>